<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
        <i class="fas fa-tint text-blue"></i>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width.%': water}">{{water | json}}%</div>
      </div>
    </div>
    <div class="col text-center">
      <i class="fas fa-charging-station text-yellow"></i>
      <div class="progress">
          <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width.%': enerCall}">{{enerCall | json}}%</div>
        </div>
    </div>
  </div>
  </div>