<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Location</th>
      <th scope="col">Start Date</th>
      <th scope="col">Commander</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mission of missionData">
      <th scope="row">{{mission.id}}</th>
      <td>{{mission.name}}</td>
      <td>{{mission.type}}</td>
      <td>{{mission.location}}</td>
      <td>{{mission.sdate}}</td>
      <td>{{mission.command}}</td>
      <td>{{mission.status}}</td>

      <div class="row">
        <a routerLink="{{mission.id |json}}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Edit</a>
        <button (click)="deleteMission(mission.id)">Delete</button>
      </div>

    </tr>                

  </tbody>
</table>

<button type="button" class="btn btn-outline-success" routerLink="./mission-form">Add Mission</button>