
<h2 style="text-align:center;">{{user.Name}}'s Missions</h2>
<table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <!-- <th scope="col">Location</th> -->
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mission of missions" routerLink="/missions/{{mission.MissionID|json}}">
        <th scope="row">{{mission.MissionID}}</th>
        <td>{{mission.Name}}</td>
        <!-- <td>{{mission.location}}</td> -->
        <td>{{mission.Start_date }}</td>
        <td>{{mission.End_date}}</td>
        <!-- <td>{{mission.command}}</td> -->
        <td>{{mission.status}}</td>
  
  
      </tr>                
  
    </tbody>
  </table>
<!-- <p>{{this.userAllMissionsID | json}}</p>
<p>{{this.missions | json}}</p> -->