

<form #f="ngForm" (ngSubmit) ="submit(f.value)">

  <div class="form-group row">

    <label for="name" class="col-sm-2 col-form-label">Mission Name</label>
    <div class="col-sm-5">
      <input required minlength="3" maxlength="30"  [(ngModel)]="this.Mission.Name" name="Name" #Name="ngModel" type="text" class="form-control" placeholder="Name">
       <!-- <div  class="alert alert-danger" *ngIf="errors.Name">{{errors.Name}} </div>   -->
    </div>
  </div>


  <div class="form-group row">
    <label for="Start_date" class="col-sm-2 col-form-label">Start Date</label>
    <div class="col-sm-5">
      <input required [(ngModel)]="this.Mission.Start_date" name="Start_date" #Start_date="ngModel"  type="date" class="form-control" >
    </div>
  </div>

  <div class="form-group row">
    <label for="End_date" class="col-sm-2 col-form-label">End Date</label>
    <div class="col-sm-5">
      <input required [(ngModel)]="this.Mission.End_date" name="End_date" #End_date="ngModel"  type="date" class="form-control" >
    </div>
  </div>






  
  <fieldset class="form-group">

      <div class="row">
          <legend class="col-form-label col-sm-2 pt-2">Status</legend>
          <div class="col-auto my-1">
            <select [(ngModel)]="this.Mission.Status" name="Status" class="custom-select mr-sm-2" id="Status">
              <option value="0">Scheduled</option>
              <option value="1">In process</option>
              <option value="2">Finished</option>
              <option value="3">Canceled</option>
            </select>
          </div>
        </div>

</fieldset>

  <p> form: {{f.value | json}}</p>
  <p>mission: {{this.Mission | json}} </p>

  <div *ngIf=" this.errMsg" class="alert alert-danger"> {{errMsg | json}}  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary"  >Submit</button>
    </div>
  </div>
 
  
</form>