<body>
  <div *ngIf="homepageData">
    <div class="text-data">Current Mission in progress:    {{ homepageData.mission }}</div>
    <div class="text-data">Habitat Location:    {{homepageData.location }}</div>
    <div class="text-data">Outside Habitat temp:     {{ homepageData.temp }}c </div>
    <div class="text-data">On Board Commander:     {{ homepageData.commander }}</div>
    <div class="text-data">Last Communication Time:    {{ homepageData.date.day}} {{ homepageData.date.time}}</div>
    <div class="text-data">Current Mission Status:    {{ homepageData.status }}</div>
  </div>
  <div style="width: 100%; height: 100%; position: relative;">
    <main style="display: inline-block; position: relative; z-index: 1; padding: 20px; color: #fff; text-shadow: 5px 5px 5px #000; left: 50%; transform: translateX(-50%); text-align: center;">
        <h1 class="title">
            RAMA
        </h1>
        <h2 class="subtitle">
            Resource Ai Manager.
        </h2>
    </main>
    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url('https://www.space.gov.il/sites/default/files/styles/690_350/public/dmars.jpg?itok=8uiwSqza'); background-size: cover; background-position: 50% 50%;"></div>
  </div>
</body>