<form [formGroup]="missionForm" (ngSubmit) ="submit()">

    <div class="form-group row">
  
      <label for="Name" class="col-sm-2 col-form-label">Mission Name</label>
      <div class="col-sm-5">
        <input formControlName="Name"  type="text" [ngClass]="{'is-invalid': this.submitted && missionForm.controls.Name.errors }" class="form-control" placeholder="Name">
        <div *ngIf="this.submitted && (missionForm.controls.Name.errors && missionForm.controls.Name.errors.minlength )" class="invalid-feedback">Name should be minimum 4 characters long </div>
        <div *ngIf="this.submitted && (missionForm.controls.Name.errors && missionForm.controls.Name.errors.maxlength )" class="invalid-feedback">Name should be max 15 characters long </div>
        <div *ngIf="this.submitted && (missionForm.controls.Name.errors && missionForm.controls.Name.errors.required )" class="invalid-feedback"> Name is required</div>
      </div>
    </div>

    <!-- <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->

    
  
    <div class="form-group row">
      <label for="Start_date" class="col-sm-2 col-form-label">Start Date</label>
      <div class="col-sm-5">
        <input  formControlName="Start_date"   type="date" class="form-control" [ngClass]="{'is-invalid': this.submitted && missionForm.controls.Start_date.errors }" >
        <!-- <div class="alert alert-danger" *ngIf="!Start_date.valid && Start_date.touched">Please enter a valid Start Date</div> -->
        <div *ngIf="this.submitted && (missionForm.controls.End_date.errors && missionForm.controls.Start_date.errors.required )" class="invalid-feedback"> Start date is required</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="End_date" class="col-sm-2 col-form-label">End Date</label>
      <div class="col-sm-5">
        <input  formControlName="End_date"   type="date" class="form-control" [ngClass]="{'is-invalid': this.submitted && dateError }">
        <!-- <div class="alert alert-danger" *ngIf="!End_date.valid && End_date.touched">Please enter a valid End Date</div> -->
        <div *ngIf="dateError" class="invalid-feedback"> End date must be after start date</div>
        <div *ngIf="this.submitted && (missionForm.controls.End_date.errors && missionForm.controls.End_date.errors.required )" class="invalid-feedback"> End date is required</div>
        
      </div>
    </div>


    
    <!-- <fieldset class="form-group">

      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                  name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>
      
      <hr/>
      <pre>Model: {{ model | json }}</pre>
  

  </fieldset>
   -->
  
    
    <fieldset class="form-group">
  
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-2">Status</legend>
            <div class="col-auto my-1">
              <select  formControlName="Status" class="custom-select mr-sm-2" id="Status" [ngClass]="{'is-invalid': this.submitted && missionForm.controls.Status.errors }">
                <option value="0">Scheduled</option>
                <option value="1">In process</option>
                <option value="2">Finished</option>
                <option value="3">Canceled</option>
              </select>
            </div>
          </div>
  
  </fieldset>

  <fieldset class="form-group">
  
      <div class="row">

         
       <legend class="col-form-label col-sm-2 pt-2">Users</legend>
          
              <div class="col-sm-6">
                
                  
                
                  <div *ngFor="let number of numberOfRoles; let in=index">
                      <div class="row">
                        
                      <label for="user{{number}}.Role" class="col-sm-2 col-form-label">User{{number+1}} Role:</label>
                      <select [(ngModel)]="usersRoles[in].Role"  name="user{{number}}.Role" class="col-sm-3" id="Role" [ngModelOptions]="{standalone: true}" >
                          <option *ngFor="let role of roles" [value]="role">
                            {{role}}
                          </option>
                      </select>
                      <label for="user{{number}}.UserID" class="col-sm-2 col-form-label"> User{{number+1}} Name:</label>
                      <select [(ngModel)]="usersRoles[in].UserID" name="user{{number}}.UserID" class="col-sm-3" id="user" [ngModelOptions]="{standalone: true}" >
                          <option *ngFor="let user of ramonauts" [value]="user.UserID">
                            {{user.Name}}
                          </option>
                      </select>
                  </div>
                </div>
              </div>
              <!-- {{this.usersRoles | json }} -->
         
        </div>

  </fieldset>
  
  
    <!-- <p>{{missionForm.value | json}}</p> -->
    <div *ngIf="this.submitted && this.dateInUse" class="alert alert-danger"> {{dateInUse | json}}  </div>

    <div *ngIf="this.submitted && !this.usCk" class="alert alert-danger"> insert 5 diffrent users and choose them a role  </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary"  >Submit</button>
      </div>
    </div>
    
    
  </form>